<ion-content fullscreen>
  <div class="header">
    <div class="icon" (click)="goBack()"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
  </div>

  <div class="item">
    <div class="content" (click)="navigateToFormUpdateShop()">
      <h1>{{ getShop().displayName }}</h1>
      <div class="row">
        <p>Uid: {{ getShop().uid }}</p><button class="icongo" (click)="navigateToFormUpdateShop()"></button>
      </div>
      <div class="row">
        <p>Email: {{ getShop().email }}</p><button class="icongo" (click)="navigateToFormUpdateShop()"></button>
      </div>
      <div class="row">
        <p>Số điện thoại: {{ getShop().phoneNumber }}</p><button class="icongo"
          (click)="navigateToFormUpdateShop()"></button>
      </div>

      <div class="row">
        <p>Address: {{ getShop().address }}</p><button class="icongo" (click)="navigateToFormUpdateShop()"></button>
      </div>
    </div>

    <img class="img-user" src="{{ getShop().photoURL }}" />

    <div class="control">
      <ion-button class="btn-bill" expand="block" fill="clear" shape="round">
        Quản lý đơn hàng
      </ion-button>
      <ion-button class="btn" expand="block" fill="clear" shape="round" (click)="addItem()">
        Thêm sản phẩm
      </ion-button>
      <ion-button class="btn" (click)="logOut()" expand="block" fill="clear" shape="round">
        Đăng xuất
      </ion-button>
    </div>
  </div>
</ion-content>