<ion-content fullscreen>
  <div class="header">
    <div class="icon"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <h1>{{getUser().displayName}}</h1>
      <div class="row">
        <p>Uid: {{ getUser().uid }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Email: {{ getUser().email }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Số điện thoại: {{ getUser().phoneNumber }}</p><button class="icongo"
          (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Address: {{ getUser().address }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
    </div>
    <img *ngIf="getUser() === null" class="img-user" src="../../../assets/items/Drink&tea.jpg" />
    <img class="img-user" src="{{  getUser().photoURL }}" />


    <div class="control">
      <ion-button class="btn-bill" (click)="onClick()" expand="block" fill="clear" shape="round">
        Kiểm tra đơn hàng
      </ion-button>
      <ion-button class="btn" (click)="logOut()" expand="block" fill="clear" shape="round">
        Đăng xuất
      </ion-button>
    </div>
  </div>
</ion-content>