<div id="container">
  <h1>Sign Up *Bussiness</h1>
  <form class="form" [formGroup]="registrationForm">
    <div>
      <p class="label">Email <a>*</a></p> <br />
      <ion-input formControlName="email" type="email" [(ngModel)]="emailInput" #email required></ion-input>
    </div>

    <div>
      <p class="label">Tea Shop Name <a>*</a></p> <br />
      <ion-input formControlName="teaname" type="text" [(ngModel)]="teaNameInput" #teaname required></ion-input>
    </div>

    <div>
      <p class="label">Password <a>*</a></p> <br />
      <ion-input formControlName="password" type="password" [(ngModel)]="passInput" #password required></ion-input>
    </div>

    <div>
      <p class="label">Comfirm password <a>*</a></p> <br />
      <ion-input formControlName="repassword" type="password" [(ngModel)]="rePassInput" #repassword required>
      </ion-input>
    </div>

    <div>
      <p class="label">Upload Image <a>*</a></p> <br />
      <input formControlName="uploadimage" (change)="changeImage()" type="file" #image name="image" id="image"
        class="fileInput" accept="image/*" required />
    </div>

    <p class="admin-register" (click)="navigateUserRegister()">Create a user account?</p>

    <ion-button class="btn-Signup" type="submit" color="03A87C"
      [disabled]="!registrationForm.valid && (checkPasswordAndRePasswordIsSame(password, repassword) === false)"
      (click)="signUp(email, password)">Sign Up</ion-button>
  </form>

  <div class="btn-control" style="position:fixed; right: 0; bottom: 0;">
    <button class="active">Sign Up</button>
    <button (click)="navigateLogin()">Log In</button>
  </div>
</div>