<div id="container">
  <h1>Sign Up *Bussiness</h1>
  <form class="form" [formGroup]="registrationForm">
    <div>
      <p class="label">Email <a>*</a></p> <br />
      <ion-input formControlName="email" type="email" #email required></ion-input>
    </div>

    <div>
      <p class="label">Password <a>*</a></p> <br />
      <ion-input formControlName="password" type="password" #password required></ion-input>
    </div>

    <div>
      <p class="label">Comfirm password <a>*</a></p> <br />
      <ion-input formControlName="repassword" type="password" #repassword required></ion-input>
    </div>

    <div>
      <p class="label">Upload Image <a>*</a></p> <br />
      <input formControlName="uploadimage" type="file" #repassword name="image" id="image" class="fileInput"
        accept="image/*" required />
    </div>

    <p class="admin-register" (click)="navigateUserRegister()">Create a user account?</p>

    <ion-button class="btn-Signup" type="submit" color="03A87C"
      [disabled]="!registrationForm.valid&&!checkPasswordAndRePasswordIsSame(password, repassword)"
      (click)="signUp(email, password)">Sign Up</ion-button>
  </form>

  <div class="btn-control" style="position:fixed; right: 0; bottom: 0;">
    <button class="active">Sign Up</button>
    <button (click)="navigateLogin()">Log In</button>
  </div>
</div>