<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="icon-home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="all-list">
      <ion-icon class="icon-list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="info-user" *ngIf="checkUserLoggedForNavigate(); else showThis">
      <ion-icon class="icon-heart"></ion-icon>
    </ion-tab-button>

    <ng-template #showThis>
      <ion-tab-button href="/login">
        <ion-icon class="icon-heart"></ion-icon>
      </ion-tab-button>
    </ng-template>
  </ion-tab-bar>
</ion-tabs>