<ion-content fullscreen>
  <div class="header">
    <div class="icon" (click)="goBack()"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
    <div class="avt"></div>
  </div>

  <div class="my-items">
    <h2>Giỏ hàng</h2>
    <nav *ngFor="let item of itemsDataService.items">
      <div class="item" *ngIf="getDataItemsLocal(item.id) !== null">
        <!-- <div > -->
        <div class="img">
          <img style="height:100%" src={{getDataItemsLocal(item.id).img}}>
        </div>
        <div class="desc">
          <h3>{{ getDataItemsLocal(item.id).name }}</h3>
          <p>{{ getDataItemsLocal(item.id).price }} vnđ</p>
        </div>
        <p> x {{ getDataItemsLocal(item.id).quantity }}</p>
        <button class="btn-delete" (click)="deleteItem(item.id)"></button>
        <!-- </div> -->
      </div>
    </nav>

    <div class="total">
      <div>
        <h1>Tổng:</h1>
        <p>{{ total }}</p>
      </div>
    </div>
  </div>
  <ion-button class="btn" (click)="navigateToCheckout()" expand="block" fill="clear" shape="round">
    Thanh toán
  </ion-button>
</ion-content>