<ion-content fullscreen>
  <div class="header">
    <div class="title">
      <h5 class="title-name">Hồ sơ cá nhân</h5>
    </div>
  </div>

  <div class="item">
    <div class="content" (click)="navigateToUpdateProfile()">
      <h1>{{ displayName }}</h1>
      <div class="row">
        <p>Uid: {{ uid }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Email: {{ email }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Số điện thoại: {{ phoneNumber }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
      <div class="row">
        <p>Address: {{ address }}</p><button class="icongo" (click)="navigateToUpdateProfile()"></button>
      </div>
    </div>
    <img class="img-user" src="{{ photoURL }}" />


    <div class="control">
      <ion-button class="btn-bill" (click)="navigateToOrderPage()" expand="block" fill="clear" shape="round">
        Kiểm tra đơn hàng
      </ion-button>
      <ion-button class="btn" (click)="logOut()" expand="block" fill="clear" shape="round">
        Đăng xuất
      </ion-button>
    </div>
  </div>
</ion-content>