<!-- <ion-content fullscreen>
  <div class="header">
    <div class="icon"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
    <div class="avt"></div>
  </div>

  <div class="item" (click)="click()">
    <div class="img">
      <div class="img-item"></div>
      <div class="fillheart"></div>
    </div>
    <div class="title">
      <h1>{{ price }} đ</h1>
      <p>{{ name }}</p>
    </div>
  </div>

  <div class="topping">
    <p>Topping</p>
    <div class="option">
      <div class="op1"></div>
      <div class="op2"></div>
      <div class="op3"></div>
    </div>
    <ion-button class="btn" type="submit" (click)="presentAlert()" expand="block" fill="clear" shape="round">
      Thêm vào giỏ hàng
    </ion-button>
  </div>
</ion-content> -->
<!--  -->
<ion-content fullscreen>
  <ion-content fullscreen>
    <div class="header">
      <div class="icon"></div>
      <div class="search">
        <input type="text" placeholder="Search...">
        <div class="icon-search"></div>
      </div>
      <div class="avt"></div>
    </div>
    <div class="item">
      <div class="img">
        <div class="img-item">
          <img src="{{ img }}" class="img-fix">
        </div>
      </div>
      <div class="title">
        <h1>{{ price }} đ</h1>
        <p>{{ name }}</p>
      </div>
    </div>

    <div class="topping">
      <p>Topping</p>
      <div class="option">
        <div class="op1"></div>
        <div class="op2"></div>
        <div class="op3"></div>
      </div>
      <ion-button class="btn" type="submit" (click)="addToCart(itemDetail, countNumber)" expand="block" fill="clear"
        shape="round">
        Thêm vào giỏ hàng
      </ion-button>
    </div>
  </ion-content>
</ion-content>